---
import WithNav from "../../layouts/WithNav.astro";
---

<WithNav pageTitle="Archives">
	<div class="container mx-auto p-4">
		This is the archives page. Here you can find any of my old stuff. Currently,
		it's just old blog posts.
		<ul class="list-disc font-serif">
			<li class="p-2 my-4 mx-auto text-2xl font-semibold">
				<a class="hover:underline" href="/arch/oldblogs"> Old Blogs </a>
			</li>
			<li class="p-2 my-4 mx-auto text-2xl font-semibold">
				Geography Degree
				<ul class="list-disc text-xl font-serif">
					<li class="p-2 my-4 mx-auto">
						<a
							class="hover:underline"
							href="/arch/geographydegree/40080-LC-Statistics"
						>
							Lecture Notes, 40080 LC Statistics
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</WithNav>
