---
import "./src/styles/global.css";
import Nav from "../components/Nav.jsx";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Edward Mason</title>
	</head>
	<body>
		<Nav title="Ed Mason" />
		<slot />
	</body>
</html>
