---
import "../styles/global.css";
import Nav from "../components/Nav.jsx";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Edward Mason"
			href={new URL("thoughts/rss.xml", Astro.site)}
		/>
		<title>Edward Mason - {pageTitle}</title>
	</head>
	<body>
		<Nav title={pageTitle} />
		<slot />
	</body>
</html>
