---
import "../styles/global.css";
import Nav from "../components/Nav.jsx";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script src="https://code.iconify.design/2/2.0.0/iconify.min.js"></script>
		<script
			defer
			src="https://cloud.umami.is/script.js"
			data-website-id="f6dd759d-f742-4258-9dba-d28f1023c9dd"></script>
		<title>Edward Mason - {pageTitle}</title>
	</head>
	<body>
		<Nav title={pageTitle} />
		<slot />
	</body>
</html>
