---
import WithNav from "../../layouts/WithNav.astro";
---

<WithNav pageTitle="Technology Resources">
	<div class="container mx-auto p-4">
		This page is a list of various links relating to my work on the effects of
		digital technology, and helpful resources.
		<ul class="list-disc font-serif">
			<li class="p-2 my-4 mx-auto text-2xl font-semibold">
				Articles
				<ul class="list-disc text-xl font-serif">
					<li class="p-2 my-4 mx-auto">
						<a
							class="hover:underline"
							href="/thoughts/reflections-on-modern-technology"
						>
							Reflections on Modern Technology
						</a>
					</li>
					<li class="p-2 my-4 mx-auto">
						<a
							class="hover:underline"
							href="https://www.ebcpcw.cymru/wp-content/uploads/2026/03/Treasury-March-26-1-1.pdf"
						>
							Attention Seekers (PCW Treasury, 03/26)
						</a>
					</li>
				</ul>
				<li class="p-2 my-4 mx-auto text-2xl font-semibold">
					Reading Lists
					<ul class="list-disc text-xl font-serif">
						<li class="p-2 my-4 mx-auto">
							<a class="hover:underline" href="/readinglists/whats-tech-for">
								What's Tech For?
							</a>
						</li>
						<li class="p-2 my-4 mx-auto">
							<a class="hover:underline" href="/readinglists/tech-complete">
								Complete List
							</a>
						</li>
					</ul>
				</li>
				<li class="p-2 my-4 mx-auto text-2xl font-semibold">
					Other
					<ul class="list-disc text-xl font-serif">
						<li class="p-2 my-4 mx-auto">
							<i>Coming soon!</i>
						</li>
					</ul>
				</li>
			</li>
		</ul>
	</div>
</WithNav>
